html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/*================================== Common Table container styles==================================  */

.no-wrap-table {
  white-space: nowrap;
}

.consultation_card_box {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  overflow-y: auto;
}

.table-container {
  border-radius: 16px;
  background-color: #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  overflow-x: auto;
  overflow-y: auto;
  overflow-y: hidden;
  /* padding: 20px;  */
}
.x-scroll {
  overflow-x: scroll;
}
th {
  color: var(--primary-font-1, #001679);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  justify-content: center;
  padding: 0px 0px;
}
/* th:nth-last-child() {
  color: var(--primary-font-1, #021776);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 0px 0px;
} */
td {
  color: var(--primary-font-1, #20548b);
  font-size: 16px;
  /* font-family: 'Roboto', sans-serif; */
  /* font-style: normal; */
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  padding: 0px 0px;
}
/* td:nth-last-child(4){
  color: var(--primary-font-1, #20548b);
  font-size: 16px;
 font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 0px 0px;
} */

table thead tr,
table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e7e6f0;
}

thead {
  height: 56px;
}

table tr th:first-child,
table tr td:first-child {
  padding-left: 40px;
}

table tr th:last-child,
table tr td:last-child {
  padding-right: 40px;
}
/* Style for the thumb (handle) of the vertical scrollbar */
.table-container::-webkit-scrollbar-thumb {
  background-color: #272323;
  border-radius: 2px;
}

/* Style for the thumb when hovering over it */
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #451414;
}

/* Table borders */
.table {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
}

/* Table header row */
.consultation_table_head {
  border-bottom: 1px solid #e0e0e0;
}

/* Table header cell */
.consultation_table_head_text {
  padding: 8px;
}

/* Table body row */
.consultation_table_body_row {
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Table row hover effect */
.consultation_table_body_row:hover {
  /* background-color: #c4d9ff; */
  /* background-color: #eef0eb;  */
  background-color: #e2ecf9;
}

/* Table body cell */
.consultation_table_body_text {
  padding: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item .MuiSvgIcon-root {
  font-size: 18px;
  margin-right: 12px;
}

.menu-item:active {
  background-color: rgba(0, 0, 0, 0.04);
}

/* .center-align {
  text-align: center !important;
} */

.sort-sec {
  margin-top: 3px;
  margin-left: 2px;
}
/** ============================== common table styles end ==================================   */

/** ============================== Scroll bar globle css ==================================   */
::-webkit-scrollbar {
  width: 3px !important;
  height: 2px !important;
  display: none !important;
}

::-webkit-scrollbar-track {
  background: #e7e6f0 !important;
}

::-webkit-scrollbar-thumb {
  background: #8d99ae !important;
}
/** ============================== Scroll bar globle css ends ==================================   */

/* ------------------------------------------------- DASHBOARD CSS ----------------------------------------------- */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.pie-chart {
  padding-top: 30px;
}
.hiring-categories {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.dashboard-graphs {
  display: flex;
  justify-content: space-between;
}
.hiring-card {
  width: 360px;
  padding: 15px;
}
.top-company-card {
  width: 650px;
  height: 450px;
  padding: 10px;
}
.apexcharts-toolbar {
  display: none !important;
}
.categories-cards {
  width: 238px;
}
.graphs-title {
  text-align: center;
  font-weight: 700 !important;
  font-size: 20px !important;
}
.chart-title {
  text-align: center;
  font-weight: 700 !important;
  font-size: 30px !important;
}
.table-title {
  font-weight: 700 !important;
  font-size: 30px !important;
}
.profile-trend {
  padding: 20px;
}
.column-graph {
  padding: 50px;
}
.hire-employee {
  padding: 20px;
}
.count {
  font-size: 30px !important;
}

.hire-request-titles {
  font-size: 25px !important;
  font-weight: 700 !important;
}
.switch-name {
  display: inline-flex;
  font-weight: 700 !important;
  font-size: 20px !important;
}
.main {
  max-height: 80vh;
  margin: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

/* ------------------------------------------- DATE RANGE PIKER ------------------------------------------------ */
.showDateRange {
  display: flex;
  justify-content: space-around;
  width: 250px;
  border: 1px solid #f8954a;
  border-radius: 5px;
  padding: 10px;
}
.date-range {
  font-weight: 700 !important;
  color: #f8954a !important;
}
.dateRange {
  position: absolute;
  /* / top: 41%; / */
  /* / right: 3%; / */
  z-index: 1;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--primary-border, #e7e6f0);
  background: var(--primary-white, #fff);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.13);
  padding-bottom: 2rem;
}

.rdrWeekDay {
  color: #524587 !important;
  text-align: center;
  font-size: 0.875rem !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
}
.rdrMonthAndYearPickers {
  display: none !important;
}

.rdrMonthName {
  text-align: center !important;
  color: #524587 !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.rdrMonthAndYearWrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}

.rdrMonths {
  margin-top: 13.5px;
}

.rdrNextPrevButton {
  background-color: transparent !important;
}

.rdrNextPrevButton i {
  border: none !important;
}

.rdrNextPrevButton {
  position: relative;
}

.rdrNextPrevButton:first-child::after {
  content: '' !important;
  background: url('../src//@core/assets//svg//icons/forward-icon.svg') !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 24px !important;
  width: 24px !important;
  background-repeat: no-repeat !important;
}

.rdrNextPrevButton:last-child::after {
  content: '' !important;
  background: url('../src//@core/assets//svg//icons/forward-icon.svg') !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 24px !important;
  width: 24px !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg);
}

.rdrDay:not(.rdrDayPassive, .rdrDayToday) .rdrDayNumber span {
  color: #524587 !important;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span {
  color: #524587 !important;
}

.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span::after {
  background: #524587 !important;
}

.rdrDay .rdrStartEdge + .rdrDayNumber span,
/* / .rdrDay .rdrInRange + .rdrDayNumber span, / */
.rdrDay .rdrEndEdge + .rdrDayNumber span {
  color: white !important;
}

.rdrDay > .rdrInRange {
  color: #f9f6ff !important;
}

.rdrStartEdge,
.rdrEndEdge {
  border-radius: 0.5rem !important;
  /* / margin: 0 8px; / */
}

.rdrDefinedRangesWrapper {
  font-size: 12px;
  width: 0px !important;
  border-right: solid 1px #eff2f7;
  background: #fff;
}
.selected-range {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.selected-range .css-weqbci-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px !important;
  margin-right: 8px;
  width: 215px !important;
}
.apply {
  background-color: #f8954a;
}

/* *********************************************************************************************** */
.hire-details-card {
  padding: 20px;
  padding-top: 10px;
  margin-top: 30px;
}
/* .card{
  width: 600px;
} */
.hire-details-card h4 {
  margin-bottom: 10px;
}

.react-datepicker__month-wrapper {
  background-color: white;
  border: 1px solid #ccc; /* Add a border for separation */
}
/* width: 12%; */
.details-field {
  display: block;
}
.details-field .MuiGrid-item {
  padding-left: 10px;
  padding-top: 7px;
  font-weight: 600;
  font-size: 15px;
}
.project-details-textfield {
  width: 334px;
}
.hiring-details-remark {
  margin-top: 10px;
  color: black;
}
.employee-detail {
  padding-top: 30px;
}
.employees-profile {
  padding: 20px;
  margin-bottom: 30px;
}
.private-detail {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.icon-text {
  padding-left: 10px;
}
.profile-grid {
  padding-left: 35px;
  /* padding-top: 15px; */
}
.employee {
  text-align: center;
}
.divider {
  border-right: 2px solid;
  padding-right: 15px;
}
.company-details {
  padding: 20px;
  height: 325px;
  margin-bottom: 20px;
}
.technical-skill {
  margin-bottom: 30px;
}
.head-top {
  font-size: 25px !important;
  font-weight: 700 !important;
  padding: 15px;
  background-color: #f8954a;
}
.summery {
  padding: 20px;
  display: flex;
  row-gap: 13px;
  flex-direction: column;
}
.certification {
  padding: 20px;
  margin-bottom: 20px;
  height: 320px;
}
.rating {
  padding: 20px;
  height: 200px;
}
.education {
  padding-top: 30px;
  margin-bottom: 30px;
}

/* ------------------------------------ROLE CSS -----------------------------*/
.role-edit {
  width: 14%;
}
.role-title{
  margin-bottom: 30px;
}
.roledetails{
  display: flex;
  column-gap: 42px;
}
.role-textfield{
  width: 50%;
}
.permission-checkbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.child-checkbox {
  display: flex;
  column-gap: 40px;
}
.checkbox-label {
  margin-left: 10px !important;
}
.role-btns {
  display: flex;
  column-gap: 20px;
  margin: 0px !important;
}
/* ================================== code V css==================================  */
.form-layout {
  padding: 35px !important;
  margin-top: 30px;
}

.hiredetails {
  margin-top: 30px !important;
}

.image-align {
  margin: 20px !important;
}

.support-subject {
  padding-left: 0px !important;
}

.error-msg .css-1sxd8vz-MuiFormHelperText-root {
  color: red !important;
  font-size: 14px !important;
  margin-left: 0px !important;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px !important;
}

.resume-title {
  background-color: #f8954a;
}

.resume-layout {
  margin-bottom: 25px !important;
  margin-top: 30px !important;
}

.skill-title {
  font-size: 18px !important;
  margin: 15px 15px 0px 0px !important;
}

.status-box {
  padding: 20px !important;
}

.resume-data .css-19qpywn-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 4.5px 14px;
}

.profiletypo .css-10nslt8-MuiTypography-root {
  font-size: 14.4px;
}

.css-12nay7z-MuiTypography-root {
  margin-left: 0px !important;
}

.css-1hqwshy-MuiTypography-root {
  margin-left: 12px !important;
}

.resume-box {
  overflow-y: auto !important;
  max-height: 400px;
  margin: 2rem !important;
}

.resume-sub-box {
  padding: 1.5rem !important;
}

.delete-icon {
  padding: 0px 5px 10px 0px !important;
  float: right !important;
}

.resume-field {
  padding-bottom: 0.5rem !important;
}

.add-box {
  margin: 25px 0px 0px 35px !important;
}

.css-apkn5r-MuiInputBase-root-MuiInput-root:before,
.css-apkn5r-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}

/* .form-layout {
  padding: 25px 55px 25px 55px !important;
}


/* ================================== support-request card css==================================  */
.support-request-category {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.support-request {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
}
.card-bg-color {
  background-color: #b3c7d8 !important;
}

/* ================================== Pagination CSS Start ================================== */
.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Vertically center the buttons */
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Style for the Previous button */
.pagination-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center; /* Vertically center the button content */
}

/* Add margin-right to create space between buttons */
.pagination-button + .pagination-button {
  margin-right: 10px; /* Adjust the spacing as needed */
}

/* Style for the Next button */
.pagination-button.next {
  margin-left: auto; /* Push the Next button to the right */
}

/* Style for the icon inside the buttons */
.pagination-button .MuiSvgIcon-root {
  width: 15px;
  margin-right: 5px; /* Adjust the spacing as needed */
}

.company-space {
  padding: 1.25rem !important;
}
/* Style for the page number in the center */
.pagination-page-number {
  margin: 0 10px; /* Adjust the spacing as needed */
}

/* ================================== Pagination CSS End ================================== */

.main-layout-container {
  overflow-y: auto;
  height: 100%;
}
.main-layout-section {
  padding: 2.5rem;
  overflow-y: auto;
  height: 100%;
}

.error-message {
  color: red;
  font-size: 14px;
}



.loader-item {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

.loader-item:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(246, 238, 238, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}






.arrow-icon {
  cursor: pointer !important;
}
