html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'; 
    /* font-family: 'Roboto'; */
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
} 


/*-------------------Common Table container styles------------------------------------- */

.no-wrap-table {
  white-space: nowrap;
}

.consultation_card_box{
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto; 
  overflow-y: auto; 
}

.table-container {
  border-radius: 16px;
  background-color: #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  overflow-x: auto; 
  overflow-y: auto; 
  overflow-y: hidden; 
  /* padding: 20px;  */
}
.x-scroll {
  overflow-x: scroll;
}
th {
  color: var(--primary-font-1, #231942);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 0px 0px ;
}
td {
  color: var(--primary-font-1, #474973 );
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 0px 0px;
}


table thead tr,
table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e7e6f0;
}

thead {
  height: 56px;
}


table tr th:first-child,
table tr td:first-child {
  padding-left: 40px;
}

table tr th:last-child,
table tr td:last-child {
  padding-right: 70px;
}
/* Style for the thumb (handle) of the vertical scrollbar */
.table-container::-webkit-scrollbar-thumb {
  background-color: #272323;
  border-radius: 2px; 
}

/* Style for the thumb when hovering over it */
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #451414; 
}


/* Table borders */
.table {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
}

/* Table header row */
.consultation_table_head {
  border-bottom: 1px solid #e0e0e0;
}

/* Table header cell */
.consultation_table_head_text {
  padding: 8px;
 
}

/* Table body row */
.consultation_table_body_row {
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s ease; 
}

/* Table row hover effect */
.consultation_table_body_row:hover {
  background-color: #edf2fb; 
  /* background-color: #eef0eb;  */
  background-color: #f5f5f5; 
}

/* Table body cell */
.consultation_table_body_text {
  padding: 8px;
  
}
/*--------------------------------------------- common table styles end -------------------------- */

/** ============================== Scroll bar globle css ==================================   */
::-webkit-scrollbar {
  width: 3px !important;
  height: 2px !important;
}

::-webkit-scrollbar-track {
  background: #e7e6f0 !important;
}

::-webkit-scrollbar-thumb {
  background: #8d99ae !important;
}

/* ------------------------------------------------- DASHBOARD CSS ----------------------------------------------- */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.pie-chart {
  padding-top: 30px;
}
.hiring-categories {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.dashboard-graphs {
  display: flex;
  justify-content: space-between;
}
.hiring-card {
  width: 360px;
  padding: 15px;
}
.top-company-card {
  width: 650px;
  height: 450px;
  padding: 10px;
}
.categories-cards {
  width: 238px;
}
.graphs-title {
  text-align: center;
  font-weight: 700 !important;
  font-size: 20px !important;
}
.chart-title {
  text-align: center;
  font-weight: 700 !important;
  font-size: 30px !important;
}
.profile-trend {
  padding: 20px;
}
.column-graph {
  padding: 50px;
}
.hire-employee {
  padding: 20px;
}
.count{
  font-size: 30px !important;
}
.company-clr{
  background-color: #B3C99C !important;
}
.resume-clr{
background-color: #ADC4CE !important;
}
.categories-clr{
  background-color: #84A7A1 !important;
}
.total-clr{
  background-color: #DFCCFB !important;
}

.main {
  max-height: 80vh;
  margin: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

/* .resume-title {
  background-color: grey;
}

.skill-title .css-1dybbl5-MuiChip-label{
  background-color: #f8954a;
} */
.hire-details-card {
  padding: 20px;
  padding-top: 10px;
}
/* .card{
  width: 600px;
} */
.hire-details-card h4 {
  margin-bottom: 10px;
}

.role-edit {
  width: 14%;
}

.react-datepicker__month-wrapper {
  background-color: white;
  border: 1px solid #ccc; /* Add a border for separation */
}
  /* width: 12%; */
.details-field {
  display: block;
}
.details-field .MuiGrid-item {
  padding-left: 10px;
  padding-top: 7px;
  font-weight: 600;
  font-size: 15px;
}
.project-details-textfield {
  width: 334px;
}
.hiring-details-remark {
  margin-top: 10px;
  color: black;
}
.employee-detail {
  padding-top: 30px;
}
.employees-profile {
  padding: 20px;
  margin-bottom: 30px;
}
.private-detail {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.icon-text {
  padding-left: 10px;
}
.profile-grid {
  padding-left: 35px;
  /* padding-top: 15px; */
}
.employee {
  text-align: center;
}
.divider {
  border-right: 2px solid;
  padding-right: 15px;
}
.company-details {
  padding: 20px;
  height: 325px;
  margin-bottom: 20px;
}
.technical-skill {
  margin-bottom: 30px;
}
.head-top {
  padding: 15px;
  background-color: burlywood;
}
.summery {
  padding: 20px;
  display: flex;
  row-gap: 13px;
  flex-direction: column;
}
.certification {
  padding: 20px;
  margin-bottom: 20px;
  height: 320px;
}
.rating {
  padding: 20px;
  height: 200px;
}
.education{
  padding-top: 30px;
  margin-bottom: 30px;
}



/* --------------------------------------------code V css------------------------ */
.dashboard-table {
  padding-top: 24px;
}

.css-12mrtck-MuiTableHead-root {
  text-transform: none !important;
}

.css-18x7v6g-MuiTableCell-root {
  padding: 15px 0px 15px 0px !important;
}

.error-msg {
  color: red;
  font-size: 14px;
}

.resume-title {
  background-color: #f8954a;
}

.skill-title .css-1dybbl5-MuiChip-label {
  font-size: 18px;
  padding: 18px;
}

.role-edit {
  width: 12%;
}

.resume-data {
  padding: 5px;
  font-size: 15px;
}
.form-layout {
  padding: 25px 55px 25px 55px !important;
}

.request-layout {
  padding: 55px 55px 55px 55px !important;
}

.request-layout-btn {
  padding: 0px 55px 55px 55px !important;
}

.role-layout {
  padding: 10px 70px;
}

.category-status .css-i9ga9f-MuiCardHeader-root {
  padding: 0px !important;
}


/* ---------------------------------------support-request card css-------------------------- */
.support-request-category{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.support-request{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
}
.open-color{
  background-color: #9DB2BF !important;
}
.progress-color{
  background-color: #DDE6ED !important;
}
.resolved-color{
  background-color: #EAB2A0 !important; 
}
.hold-color{
  background-color: #A6BB8D !important;
}
.total-hired-color{
  background-color: #EAE7B1 !important;
}



